/Stream_Server/nbproject/private/
/Stream_Server/build/
/StreamServer/nbproject/private/
/StreamServer/build/
/Stream/StreamServer/nbproject/private/
/Stream/StreamClient/nbproject/private/
/Stream/StreamClient/build/
/Stream/StreamServer/build/
/Chat/ChatServer/build/
/BookService/target/
/BookService/bookService/target/
/BookService/VKAuthentification/nbproject/private/
/BookService/VKAuthentification/build/
/BookService/VKAuth/target/
/BookService/TwitterAuth/nbproject/private/
/BookService/httpclient/target/
/BookService/FacebookOAuth/nbproject/private/
/FacebookOAuth/nbproject/private/
/FacebookOAuth/build/
/FacebookOAuth/dist/